.home {
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
}

.home .info {
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  border: 1px solid #999999;
  border-radius: 10px;
}

.home p {
  color: #f9f9f9;
  font-size: 20px;
  line-height: 22px;
}